.bg {
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -2;
}
.img_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -2; */
}

.box_search {
  height: 100%;
  display: grid;
  gap: .5em;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(min-content, 700px);
  grid-template-rows: 5em 2.5em 1fr;
  padding: 5px 1em;
}

.box_logo {
  height: 100%;
  justify-self: center;
}

.box_btn_search {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}



.textButton {
  pointer-events: none;
}

.main_title {
  position: absolute;
  bottom: -1.4em;
  width: 100%;
  height: 1.5em;
  z-index: 100;
  color: white;
  background-color: var(--color-1-hex);
  text-align: center;
  box-shadow: var(--box-shadow-down);
}